[submodule ".local/share/nvim/site/pack/plugins/start/bufferline.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/eyeliner.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/eyeliner.nvim
	url = https://github.com/jinh0/eyeliner.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/gitsigns.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/indent-blankline.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/opt/mason-lspconfig.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/mason-lspconfig.nvim
	url = https://github.com/mason-org/mason-lspconfig.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/opt/mason.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/mason.nvim
	url = https://github.com/mason-org/mason.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/neoscroll.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/neoscroll.nvim
	url = https://github.com/karb94/neoscroll.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/nord.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/nord.nvim
	url = https://github.com/gbprod/nord.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-autopairs"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-dap"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-dap-go"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-dap-python"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-dap-ui"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-dap-virtual-text"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-dap-vscode-js"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-dap-vscode-js
	url = https://github.com/mxsdev/nvim-dap-vscode-js.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-jdtls"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-jdtls
	url = https://github.com/mfussenegger/nvim-jdtls.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-nio"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-tree.lua"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-ts-autotag"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-ts-autotag
	url = https://github.com/windwp/nvim-ts-autotag.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-ufo"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-ufo
	url = https://github.com/kevinhwang91/nvim-ufo.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-web-devicons"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule ".local/share/nvim/site/pack/plugins/opt/outline.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/outline.nvim
	url = https://github.com/hedyhli/outline.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule ".local/share/nvim/site/pack/plugins/start/promise-async"]
	path = .local/share/nvim/site/pack/plugins/start/promise-async
	url = https://github.com/kevinhwang91/promise-async.git
[submodule ".local/share/nvim/site/pack/plugins/start/tagbar"]
	path = .local/share/nvim/site/pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".local/share/nvim/site/pack/plugins/opt/telescope-dap.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/telescope-dap.nvim
	url = https://github.com/nvim-telescope/telescope-dap.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/opt/telescope-fzf-native.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/opt/telescope-live-grep-args.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/telescope-live-grep-args.nvim
	url = https://github.com/nvim-telescope/telescope-live-grep-args.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/opt/telescope.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/vim-tmux-navigator"]
	path = .local/share/nvim/site/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".local/share/nvim/site/pack/plugins/start/visual_studio_code"]
	path = .local/share/nvim/site/pack/plugins/start/visual_studio_code
	url = https://github.com/askfiy/visual_studio_code.git
[submodule ".local/share/nvim/site/pack/plugins/opt/yazi.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/yazi.nvim
	url = https://github.com/mikavilpas/yazi.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/lualine.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/vscode-php-debug"]
	path = .local/share/nvim/site/pack/plugins/vscode-php-debug
	url = https://github.com/xdebug/vscode-php-debug.git
[submodule ".local/share/nvim/site/pack/plugins/java-debug"]
	path = .local/share/nvim/site/pack/plugins/java-debug
	url = https://github.com/microsoft/java-debug.git
[submodule ".local/share/nvim/site/pack/plugins/opt/diffview.nvim"]
	path = .local/share/nvim/site/pack/plugins/opt/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/opt/nvim-hlslens"]
	path = .local/share/nvim/site/pack/plugins/opt/nvim-hlslens
	url = https://github.com/kevinhwang91/nvim-hlslens.git
[submodule ".local/share/nvim/site/pack/plugins/start/Comment.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/opt/blink.cmp"]
	path = .local/share/nvim/site/pack/plugins/opt/blink.cmp
	url = https://github.com/saghen/blink.cmp.git
[submodule ".local/share/nvim/site/pack/plugins/start/tree-sitter-manager.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/tree-sitter-manager.nvim
	url = https://github.com/romus204/tree-sitter-manager.nvim.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-treesitter-textobjects"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule ".local/share/nvim/site/pack/plugins/start/nvim-surround"]
	path = .local/share/nvim/site/pack/plugins/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround.git
[submodule ".local/share/nvim/site/pack/plugins/start/codediff.nvim"]
	path = .local/share/nvim/site/pack/plugins/start/codediff.nvim
	url = https://github.com/esmuellert/codediff.nvim.git
